body {
    background-color: black;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: white;
    padding: 40px;
    border: 25px solid black;
}

li {
    font-size: 25px;
    padding: 0.5em 2em;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

li:not(:last-of-type) {
    border-right: 2px solid black;
}

li:hover {
    background-color: aliceblue;
}

#projects {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
}

#contact {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: black;
}